/template-sql-script/.idea/inspectionProfiles/profiles_settings.xml
/template-sql-script/.idea/.gitignore
/template-sql-script/.idea/dataSources.xml
/template-sql-script/.idea/misc.xml
/template-sql-script/.idea/modules.xml
/template-sql-script/.idea/sqldialects.xml
/template-sql-script/.idea/template-sql-script.iml
/template-sql-script/.idea/vcs.xml
