.User-table-head {
    background-color: #D2D2D2;
}
.User-total-count {
    float: right;
    margin-top: 1rem;
    font-size: 1.5rem;
    padding: 0.6rem 0;
}
.User-roles-button {
    display: inline-block;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    background-color: #E7A158;
    box-shadow: 0 0 0.2rem #333333;
}
.User-roles-button:hover {
    cursor: pointer;
    background-color: #B88048;
}
.User-roles-button:active {
    background-color: #8A6036;
}
