<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingyuecm.mapper.PermissionMapper">
    <select id="selectUserPermissions"
            resultType="com.lingyuecm.dto.ConfPermissionDto">
        SELECT P.HTTP_METHOD AS httpMethod,
               P.PERMISSION_URL AS permissionUrl
        FROM (
            SELECT ROLE_ID,
                   PERMISSION_ID
            FROM MAP_ROLE_PERMISSION
            WHERE ROLE_ID IN (
                SELECT ROLE_ID
                FROM MAP_USER_ROLE
                WHERE USER_ID = #{userId})) MRP
        LEFT JOIN (
            SELECT PERMISSION_ID,
                   HTTP_METHOD,
                   PERMISSION_URL
            FROM CONF_PERMISSION) P ON MRP.PERMISSION_ID = P.PERMISSION_ID;
    </select>
    <select id="selectAllPermissions"
            resultType="com.lingyuecm.dto.ConfPermissionDto">
        SELECT PERMISSION_ID AS permissionId,
               HTTP_METHOD AS httpMethod,
               PERMISSION_URL AS permissionUrl
        FROM CONF_PERMISSION
        WHERE STATUS = 1;
    </select>
    <select id="selectRolePermissions"
            resultType="com.lingyuecm.dto.ConfPermissionDto">
        SELECT M.PERMISSION_ID AS permissionId,
               P.HTTP_METHOD AS httpMethod,
               P.PERMISSION_URL AS permissionUrl
        FROM (
            SELECT PERMISSION_ID
            FROM MAP_ROLE_PERMISSION
            WHERE ROLE_ID = #{roleId}) M
        LEFT JOIN (
            SELECT PERMISSION_ID,
                   HTTP_METHOD,
                   PERMISSION_URL
            FROM CONF_PERMISSION) P ON M.PERMISSION_ID = P.PERMISSION_ID;
    </select>
    <delete id="deleteRolePermissions">
        DELETE FROM MAP_ROLE_PERMISSION
        WHERE ROLE_ID = #{roleId};
    </delete>
    <insert id="insertRolePermissions">
        INSERT INTO MAP_ROLE_PERMISSION
        (
         ROLE_ID,
         PERMISSION_ID
        )
        VALUES
        <foreach collection="permissionIds" item="permissionId" open="" separator="" close="">
            (#{roleId}, #{permissionId})
        </foreach>;
    </insert>
    <sql id="permissionConditions">
        WHERE (1 = 1)
        <if test="null != httpMethod">
            AND HTTP_METHOD = #{httpMethod}
        </if>
        <if test="null != permissionUrl">
            AND PERMISSION_URL LIKE CONCAT(#{permissionUrl}, '%')
        </if>
    </sql>
    <select id="managePermissions"
            parameterType="com.lingyuecm.model.ConfPermission"
            resultType="com.lingyuecm.dto.ConfPermissionDto">
        <bind name="pageSize" value="@com.lingyuecm.utils.ContextUtils@getPageSize()"/>
        <bind name="offset" value="@com.lingyuecm.utils.ContextUtils@getOffset()"/>
        SELECT PERMISSION_ID AS permissionId,
               HTTP_METHOD AS httpMethod,
               PERMISSION_URL AS permissionUrl
        FROM CONF_PERMISSION
        <include refid="permissionConditions"/>
        LIMIT #{offset}, #{pageSize}
    </select>
    <select id="selectPermissionCount"
            parameterType="com.lingyuecm.model.ConfPermission">
        SELECT COUNT(PERMISSION_ID)
        FROM CONF_PERMISSION
        <include refid="permissionConditions"/>;
    </select>
</mapper>