<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingyuecm.mapper.RoleMapper">
    <select id="selectAllRoles"
            resultType="com.lingyuecm.dto.ConfRoleDto">
        SELECT ROLE_ID AS roleId,
               ROLE_NAME AS roleName
        FROM CONF_ROLE
        WHERE STATUS = 1;
    </select>
    <select id="selectUserRoles"
            resultType="com.lingyuecm.dto.ConfRoleDto">
        SELECT m.ROLE_ID AS roleId,
               r.ROLE_NAME AS roleName
        FROM (SELECT USER_ID,
                     ROLE_ID
              FROM MAP_USER_ROLE
              WHERE USER_ID = #{userId}) m
        LEFT JOIN CONF_ROLE r ON m.ROLE_ID = r.ROLE_ID;
    </select>
    <delete id="deleteUserRoles">
        DELETE FROM MAP_USER_ROLE
        WHERE USER_ID = #{userId};
    </delete>
    <insert id="insertUserRoles">
        INSERT INTO MAP_USER_ROLE
        (
         USER_ID,
         ROLE_ID
        )
        VALUES
        <foreach collection="roleIds" item="roleId" open="" separator="," close="">
            (#{userId}, #{roleId})
        </foreach>;
    </insert>
    <sql id="roleConditions">
        WHERE (1 = 1)
        <if test="null != criteria">
            AND ROLE_NAME LIKE CONCAT('%', #{criteria}, '%')
        </if>
    </sql>
    <select id="manageRoles"
            resultType="com.lingyuecm.dto.ConfRoleDto">
        <bind name="pageSize" value="@com.lingyuecm.utils.ContextUtils@getPageSize()"/>
        <bind name="offset" value="@com.lingyuecm.utils.ContextUtils@getOffset()"/>
        SELECT ROLE_ID AS roleId,
               ROLE_NAME AS roleName,
               STATUS AS status
        FROM CONF_ROLE
        <include refid="roleConditions"/>
        LIMIT #{offset}, #{pageSize};
    </select>
    <select id="selectRoleCount"
            resultType="long">
        SELECT COUNT(ROLE_ID)
        FROM CONF_ROLE
        <include refid="roleConditions"/>;
    </select>
</mapper>