<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingyuecm.mapper.UserMapper">
    <select id="selectUserCredentials"
            parameterType="com.lingyuecm.model.BizUser"
            resultType="com.lingyuecm.dto.BizUserDto">
        SELECT USER_ID AS userId,
               LOGIN_PWD AS loginPwd
        FROM BIZ_USER
        WHERE PHONE_NO = #{phoneNo}
        AND ENABLED = 1 LIMIT 1;
    </select>
    <select id="selectMetadata"
            resultType="com.lingyuecm.dto.BizUserDto">
        <bind name="userId" value="@com.lingyuecm.utils.ContextUtils@getUserId()"/>
        SELECT FIRST_NAME AS firstName,
               LAST_NAME AS lastName
        FROM BIZ_USER
        WHERE USER_ID = #{userId};
    </select>
    <select id="manageUsers"
            resultType="com.lingyuecm.dto.BizUserDto">
        SELECT USER_ID AS userId,
               FIRST_NAME AS firstName,
               LAST_NAME AS lastName
        FROM BIZ_USER
        LIMIT #{pageData.offset}, #{pageData.pageSize};
    </select>
</mapper>
