<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingyuecm.mapper.UserMapper">
    <select id="selectUserCredentials"
            parameterType="com.lingyuecm.model.BizUser"
            resultType="com.lingyuecm.dto.BizUserDto">
        SELECT USER_ID AS userId,
               LOGIN_PWD AS loginPwd
        FROM BIZ_USER
        WHERE PHONE_NO = #{phoneNo}
        AND STATUS = 1 LIMIT 1;
    </select>
    <select id="selectMetadata"
            resultType="com.lingyuecm.dto.BizUserDto">
        <bind name="userId" value="@com.lingyuecm.utils.ContextUtils@getUserId()"/>
        SELECT FIRST_NAME AS firstName,
               LAST_NAME AS lastName
        FROM BIZ_USER
        WHERE USER_ID = #{userId};
    </select>

    <sql id="userConditions">
        WHERE (1 = 1)
        <if test="null != criteria">
            AND (FIRST_NAME LIKE CONCAT('%', #{criteria}, '%') OR
            LAST_NAME LIKE CONCAT('%', #{criteria}, '%') OR
            PHONE_NO LIKE CONCAT('%', #{criteria}, '%'))
        </if>
    </sql>
    <select id="manageUsers"
            resultType="com.lingyuecm.dto.BizUserDto">
        <bind name="pageSize" value="@com.lingyuecm.utils.ContextUtils@getPageSize()"/>
        <bind name="offset" value="@com.lingyuecm.utils.ContextUtils@getOffset()"/>
        SELECT USER_ID AS userId,
               PHONE_NO AS phoneNo,
               FIRST_NAME AS firstName,
               LAST_NAME AS lastName
        FROM BIZ_USER
        <include refid="userConditions"/>
        LIMIT #{offset}, #{pageSize};
    </select>
    <select id="selectUserCount"
            resultType="long">
        SELECT COUNT(USER_ID)
        FROM BIZ_USER
        <include refid="userConditions"/>;
    </select>
</mapper>
